*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    background: #464646;
    justify-content: center;
}

.click {
    --size: 3em;
    display: grid;
    cursor: pointer;
    border-radius: 15%;
    width: var(--size);
    height: var(--size);
    background: #22577E;
    padding: calc(var(--size)*.1);
    box-shadow: 0 0 .6em #44444480;
    transition: border-radius .5s ease-in-out,
                background .5s ease-in-out;
}

.click div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: calc(var(--size)*.12);
    transition: transform .5s ease-in-out;
}

.click > div > span {
    --size2: .5em;
    width: 100%;
    height: var(--size2);
    border-radius: 100vw;
    background-color: #84DFFF;
    transition: width .5s ease-in-out,
                transform .5s ease-in-out,
                opacity .55s ease-in-out,
                background .5s ease-in-out;
}

.click.open {
    border-radius: 50%;
    background: #94B3FD;
}

.click.open > div {
    transform: translateX(34.5%);
}

.click.open > div > span {
    background: #B5DEFF;
}

.click.open > div > span:nth-child(1) {
    transform-origin: center;
    transform: rotate(-45deg) translateX(-50%);
}

.click.open > div > span:nth-child(2) {
    width: 0%;
    opacity: 0;
    transform-origin: right;
}

.click.open > div > span:nth-child(3) {
    transform-origin: center;
    transform: rotate(45deg) translateX(-50%);
}